*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
    

.header {
    list-style: none;
    font-weight: 500;
    margin: 0 auto;
    padding: 0 15px;
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


ul {
    list-style-type: none;
    list-style: none;
}


nav {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.page-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
        
    }


.nav-link:focus,
.nav-link:hover {
    color: #404bbf;
 }


.nav-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}


.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

    
.web {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;

    display: inline-block;
    margin-bottom: 16px;
    margin-right: 76px;
}

.studio {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2e2f42;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
}

.nav-webstudio {
    display: flex;
    align-items: center;
    margin-right: 76px

}

.address-list {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 24px 0;
}


.address-page {
    font-style: normal;
    
}


.address-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.address-link:hover,
.address-link:focus {
    color: #404bbf; 
}



.page-title {
    background-color: #2e2f42;
    text-align: center;
    line-height: 1.07;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding: 188px 0;
}

.main-title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0 auto 48px;
}


.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    
}
.button:hover, 
.button:focus {
    background-color: #404BBF;
}


.features {
    background-color: #ffffff;
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: space-between;

}


.features-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;

}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.features-section {
    flex: 1 1 calc((100% - 72px) / 4);
}

.features-section:first-child {
    width: calc((100% - 72px) / 4);
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;

}


.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.team-h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;

}
.team-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    justify-content: center;

}

.team-members {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    

}


.team-title {
    padding: 32px 0;
    text-align: center;
}


.text-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.app {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;

}

.app-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    gap: 24px;
    text-align: left;
    margin-bottom: 8px;
    padding: 32px 16px;
    border: none;
    padding: 0;
    }

.app-h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    display: block;
    gap: 24px;
    margin-bottom: 8px;
    
}

.portfolio-items {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    gap: 24px;
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 24px;
    flex-basis: calc((100% - 48px) / 3);
    

}

.portfolio-items img {
    width: 320px;
    height: auto;
    display: block;
}


.app-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;


}

.portfolio-items img {
    width: 320px;
    height: auto;
}


.footer {
    background-color:#2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer span {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    
}

.footer .web {
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.text-footer {
    color: #E7E9FC;
    font-size: 16px;
    letter-spacing: 0.02em;
    max-width: 264px;
}



.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1166px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}







