*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img {
    display: block;
}

.page-title {
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    background-color: #2e2f42;
    padding: 188px 0 188px;
}

.main-title
{
        font-family: "Roboto", sans-serif;
        letter-spacing: 0.02em;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        color: #FFFFFF;
        
    }


h2 { 
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;

}
    

.header {
list-style: none;
font-weight: 500;
margin: 0 auto;
padding: 0 15px;
border-bottom: 1px solid #e7e9fc;
padding: 24px 0;
width: calc((100% - 72px) / 4);
}


ul {
    list-style-type: none;
    list-style: none;
}


nav {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.page-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;

    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
        
    }


.nav-link:focus,
.nav-link:hover {
color: #404bbf;
 }


.nav-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px;
}


.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

    
.web {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.studio {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2e2f42;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
}

.address-list {
    list-style: none;
    display: flex;
    gap: 40px;
}


.address-page {
    font-style: normal;
    margin: 0;
    padding: 0;
}


.address-link {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.address-link:hover,
.address-link:focus {
    color: #404bbf; 
}





.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    
}
.button:hover, 
.button:focus {
    background-color: #404BBF;
}


.features {
    padding: 120px 0;
}

.feature-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;


}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    gap: 24px;
}

.features-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    display: flex;
    gap: 24px;
}


.features-section {
    flex: 0 0 auto;
}

.features-list .features-section:first-child {
    width: calc((100% - 72px) / 4);
}

.team {
    background-color: #F4F4FD;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding: 120px 0;
    

}

.team-h3 {
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;

}
.team-list {
    display: flex;
    gap: 24px;

}

.team-members {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;

}

.team-list .team-members:first-child {
    width: calc((100% - 72px) / 4);
}

.team-title {
    padding: 32px 0;
}
.text-info {
text-align: center;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.app {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.app-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    gap: 24px;
    text-align: center;
    margin-bottom: 8px
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app-h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    display: flex;
    gap: 24px;
    margin-bottom: 8px
}

.portfolio-items {
flex: 0 0 auto;
}

.app .portfolio-items:first-child {
    width: calc((100% - 48px) / 3);
}

.portfolio-items .container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    

}
.footer {
background-color:#2e2f42;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 100px 0;
}
.footer span {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    
}

.text-footer {
color: #E7E9FC;
font-size: 16px;
letter-spacing: 0.02em;
}



.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1166px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1158px;
   
}

.nav-webstudio {
    display: flex;
    align-items: center;
    padding: 24px 0;

}


