*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
.main-title
{
        font-family: "Roboto", sans-serif;
        letter-spacing: 0.02em;
        font-size: 56px;
        line-height: 1.07
    }

h2 { 
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;

}
    
.header {
list-style: none;
font-weight: 500;

}
ul {
    list-style-type: none;
}

nav {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.page-nav
{
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
    }

.nav-link:focus {
color: #404bbf;
        }
.page-nav{
color: #404bbf;
display: flex;
list-style: none;
margin: 0;
padding: 0;
gap: 40px;
}
.nav-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
    
.web {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
}
    .studio {
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        color: #2e2f42;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
}

.address-page {
    font-style: normal;
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.address-link {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf; 
}

.page-title {
    color: #ffffff;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    font-weight: bold;
    letter-spacing: 0.02em;
    background-color: #2e2f42;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}
.button:hover, 
.button:focus {
    background-color: #404BBF;
}
.section-h1 {
    background-color: #2e2f42;
}
.feature-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;


}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42
}

.features-list {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        list-style: none;
}
.team {
    background-color: #F4F4FD;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.footer {
background-color:#2e2f42;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer span {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}
.team-members {
    background-color: #FFFFFF;
}
.text-footer {
color: #E7E9FC;
font-size: 16px;
letter-spacing: 0.02em;
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.img {
    display: block;
}
.nav-webstudio {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;


}
